/* Hero Section */
.hero {
  background-image: linear-gradient(rgba(232, 153, 150, 0.7), rgba(232, 153, 150, 0.7)), url('https://github.com/icrs1990/Tabia-Landing/blob/main/assets/hero.jpg?raw=true');
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #370751;
}

.hero-content p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
}

.hero-content .cta-button {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background-color: #370751;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-content .cta-button:hover {
  background-color: #5b2a87;
}

/* Producto Kit */
.product-kit {
  background-color: #f7f4f9;
  padding: 3rem 1.5rem;
  text-align: center;
}

.product-kit h2 {
  font-size: 2.5rem;
  color: #370751;
}

.product-kit p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.kit-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.kit-details img {
  width: 300px;
  border-radius: 8px;
  margin-right: 2rem;
}

.kit-info ul {
  list-style: none;
  padding: 0;
}

.kit-info ul li {
  font-size: 1.1rem;
  color: #370751;
  margin-bottom: 0.5rem;
}

.kit-info p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #370751;
}

.kit-info .cta-button {
  background-color: #370751;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.kit-info .cta-button:hover {
  background-color: #5b2a87;
}

